@import '../../sass/abstracts/mixins';
@import '../../sass/base/variables';

.body {
    width: 100%;
    height: 100%;
    color: $colorBlack;
    background-color: #c2b18d;
    display: flex;
    @include flex-column();
    font-family: 'Neucha', sans-serif;

    input,
    button {
        font-family: 'Neucha', sans-serif;
        cursor: pointer;
    }

    &::-webkit-scrollbar {
        width: 0px;
    }

    .wrapper {
        margin: 0 auto;
        height: 100%;
        width: 100vw;
        max-width: 1600px;
        @include flex-column();
    }
}

.button {
    min-width: 10px;
    min-height: 10px;
    background-color: transparent;
    margin: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.input {
    margin: 5px;
    min-width: 150px;
    min-height: 50px;
    background-color: transparent;
    outline: none;
    border: 1px solid white;
    padding: 5px 10px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}
