@import '../../sass/abstracts/mixins';

.button {
    min-width: 10px;
    min-height: 10px;
    background-color: transparent;
    margin: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.input {
    margin: 5px;
    min-width: 150px;
    min-height: 50px;
    background-color: transparent;
    outline: none;
    border: 1px solid white;
    padding: 5px 10px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

