@import '../../sass/abstracts/mixins';

.main {
    width: 100%;
    padding: 15px;
}

.race-header {
    @include flex-column();
    margin-bottom: 15px;

    .title-block,
    .page-block {
        gap: 15px;
        @include flex-row();
    }

    .cars-amount,
    .page-number {
        border: none;
        background: transparent;
        width: 40px;
        color: black;
    }
}

.car-block {
    border-bottom: 2px solid black;
    // gap: 15px;
    width: 100%;
    margin-bottom: 15px;

    .car-block-header {
        gap: 15px;
        margin-bottom: 10px;
        @include flex-row();
    }

    .car-main-block {
        @include flex-row($align: flex-end, $justify: space-between);
        padding-right: 100px;

        .car-main-btns-block {
            gap: 15px;
            @include flex-row();
            margin-right: 15px;
            margin-bottom: 10px;
        }

        .car {
            flex: 1 1 auto;
            @include flex-row();
            margin-bottom: -8px;
            .car-image {
                display: block;
                background-image: url('../../public/icons/car.svg');
                width: 60px;
                height: 60px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
        

        .flag {
            background-image: url('../../public/icons/flag.png');
            background-repeat: no-repeat;
            width: 75px;
            height: 45px;
            background-size: contain;
            background-position: bottom;
        }
    }
}
