@import '../../sass/abstracts/mixins';

.main {
    width: 100%;
    padding: 15px;
}

.race-header {
    @include flex-column();
    margin-bottom: 15px;

    .title-block,
    .page-block {
        gap: 15px;
        @include flex-row();
        font-size: 19px;
    }

    .cars-amount,
    .page-number {
        border: none;
        background: transparent;
        width: 50px;
        color: black;
        font-size: 19px;
    }
}

.car-block {
    border-bottom: 2px solid black;
    padding: 5px 5px 0px 5px;
    width: 100%;
    margin-bottom: 15px;
    background-color: #b097734f;
    -webkit-box-shadow: 0px 7px 16px 2px rgba(101, 63, 7, 1);
    -moz-box-shadow: 0px 7px 16px 2px rgba(101, 63, 7, 1);
    box-shadow: 0px 5px 5px 0px rgb(101 63 7 / 43%);

    .car-block-header {
        gap: 15px;
        margin-bottom: 10px;
        @include flex-row();

        .car-name {
            // box-shadow: 0px 7px 16px 2px rgba(101, 63, 7, 0.09);
            font-weight: 600;
        }
    }

    .car-main-block {
        @include flex-row($align: flex-end, $justify: space-between);
        padding-right: 100px;

        .car-main-btns-block {
            gap: 15px;
            @include flex-row();
            margin-right: 15px;
            margin-bottom: 10px;
        }

        .car {
            flex: 1 1 auto;
            @include flex-row();
            margin-bottom: -8px;
            .car-image {
                display: block;
                // background-image: url('../../public/icons/car.svg');
                // width: 60px;
                // height: 60px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
        }

        .flag {
            background-image: url('../../public/icons/flag.png');
            background-repeat: no-repeat;
            width: 75px;
            height: 45px;
            background-size: contain;
            background-position: bottom;
            z-index: 1;
        }
    }
}
